<link rel="stylesheet" href="/public/css/explorehotel.css">
<header>
  <h1>Explore hotels</h1>
  <nav>
    <ul>
      <li><a href="/users/hotels/userprofile" id="user-profile">User Profile</a></li>
      <li><a href="/logout" id="logout">Logout</a> </li>
    </ul>
  </nav>
</header>

<p>A collection of all our hotels, for you to explore</p>

<form action="/hotels" method="GET">
  <input type="text" name="name" placeholder="Search by hotel name" value="{{searchTerm}}">
  <button type="submit">Search</button>
</form>

<ul class="hotels-list">
  {{#if hotels.length}}
  {{#each hotels}}
  <li id="{{{this._id}}}">
    <a href="/hotels/{{this._id}}">
      <h2>{{this.name}}</h2>
    </a>

    {{#if this.description}}
    <p>{{this.description}}</p>
    {{else}}
    <p>No description</p>
    {{/if}}

    <p>Rating: <a href="/hotels/{{this._id}}/#reviews"><strong>{{this.rating}}</strong>⭐</a>,
      <a href="/hotels/{{this._id}}/#comments">{{this.comments.length}}</a> comments
    </p>

  </li>
  {{/each}}
  {{else}}

  <p>No hotels to show!</p>

  {{/if}}
</ul>

<script src="/public/js/hotels/allHotels.js"></script>