<link rel="stylesheet" href="/public/css/hotel.css">


<a href="/hotels">Back</a>
<a href="/logout">Logout</a>

<h1>{{hotel.name}}</h1>

{{#if hotel.description}}
<h2>{{hotel.description}}</h2>
{{else}}
<p>No description</p>
{{/if}}

<p>Rating: <strong>{{hotel.rating}}⭐</strong></p>
<p>Available Rooms: {{rooms.length}}</p>

{{#if rooms.length}}
<button onclick="handleClick('{{hotel._id}}')">Check availability</button>
{{/if}}

<h3 id="reviews">Reviews</h3>
{{#if hotel.reviews.length}}
<h5>For privacy reasons, we keep our reviews anonymous 👺</h5>
{{#each hotel.reviews}}
<div id="{{this._id}}">
  <h4>Rating: <strong>{{this.rating}}⭐</strong></h4>
  <p>{{this.content}}</p>
  <small>Posted on: {{this.createdAt}}</small>
</div>

{{/each}}
{{else}}
<p>No reviews yet!</p>
{{/if}}

<h3 id="comments">Comments</h3>
{{#if hotel.comments.length}}
{{#each hotel.comments}}
<div id="{{this._id}}">
  <h5>{{this.author}}</h5>
  <p>{{this.content}}</p>
  <p>Posted on: {{this.createdAt}}</p>
</div>

{{/each}}
{{else}}
<p>No comments yet!</p>
{{/if}}

<script>
  function handleClick(id) {
    window.location.href = `/hotels/${id}/rooms`
  }
</script>