<link rel="stylesheet" href="/public/css/hotel.css">
<header>
  <h1>Welcome back, {{manager.firstName}}!</h1>
  <h2>Hotels you manage</h2>
  <a href="/logout" id="logout">Logout</a>
</header>

<h2 class="hotel-heading">Hotels you manage</h2>

<button onclick="createHotel()">Create hotel</button>

{{#if hotels.length}}
  <ul class="hotel-list">
    {{#each hotels as |hotel|}}
      <li id="{{{hotel._id}}}">
        <a href="/manage/{{hotel._id}}">
          <h2>{{hotel.name}}</h2>
        </a>

        {{#if hotel.description}}
          <p>{{hotel.description}}</p>
        {{else}}
          <p>No description</p>
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="no-hotels-msg">You don't own any hotels yet. Create one by pressing the button above!</p>
{{/if}}
<script>
  function createHotel() {
    window.location.href = '/manage/create'
  }
  document.addEventListener('DOMContentLoaded', function () {
    const userProfileButton = document.getElementById('user-profile');

    userProfileButton.addEventListener('click', function () {
      window.location.href = '/userprofile';
    });
  });
</script>